*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: azure;
}

html,body{
    height: 100%;
}

h1, p{
    margin:0
}

.wrapper{
    height: 100%;
    background-color: #ccc;
    overflow: hidden;
}

.page1{
    width: 393px;
    height: 852px;
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    justify-content: center;
    align-items: center
}
.page1 .logo{
    display: inline-block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    position: fixed; /* 固定位置 */
    top: 10px;       /* 距離頂部 10px (可調整) */
    left: 37%;      /* 距離左側 10px (可調整) */
    z-index: 1000;   /* 確保在其他內容之上 */
    width: 100px;    /* Logo 寬度 (可調整) */

}

.page1 .logo img{
    height: 100%;
    display: block;
}
.page1 .box{
    width: 341px;
    height: 389px;
    vertical-align: center;
    justify-content: center;
    background-color:#ACCCE0;
    }

.page1 .box .title{
    font-size: 32px;
    font-weight: 300 bold;
    color: #fff;
    text-align:center;
    margin-bottom: 50px;
    margin-top: 15px;
}
.page1 .box p{
    font-size: 20px;
    color: #fff;
    margin-left: 30px;
}

.underline1::after{
  content: '';
  display: inline-block;
  width: 200px;
  border-bottom: 1px solid #fff;
  margin-left: 10px;
}

.underline2::after {
  content: '';
  display: inline-block;
  width: 200px; 
  border-bottom: 1px solid #fff;
  margin-left: 10px; 
}

.divider{
    display: flex;
    justify-content: center;
}

.divider p{
    font-size: 20px;
    margin-right:20px ;
    margin-left: 20px;
}

.divider::before{
  content: '';
  width: 120px;
  border-bottom: 1px solid #fff;
}

.divider::after{
  content: '';
  width: 120px;
  border-bottom: 1px solid #fff;
}

.page1 .box .btn1{
    font-size: 18px;
    padding: 3.8px 26px;
    background-color: #fff;
    color: black;
    border-radius: 11px;
    margin-left: 45px;
} 

.page1 .box .btn2{
    font-size: 18px;
    padding: 3.8px 39px;
    background-color: #fff;
    color: black;
    border-radius: 11px;
} 

.page1 .box .or{
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.page1 .box .image{
    display: flex;
    width: 100%;
    height: 48px;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.page1 .box .image img{
    height: 100%;
    display: block;
}

